<h2>Add Product</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm" >
  <div class="form-group">
    <label for="pid">pid</label>
    <input type="text"
           class="form-control"
           id="pid"
           name="pid"
           required
           [(ngModel)] = "product.pid">
  </div>
  <div class="form-group">
    <label for="pname">pname</label>
    <input type="text"
           class="form-control"
           id="pname"
           name="pname"
           required
           [(ngModel)] = "product.pname">      
  </div>
  <div class="form-group">
    <label for="cost">cost</label>
    <input type="text"
           class="form-control"
           id="cost"
           name="cost"
           required
           [(ngModel)] = "product.cost">      
  </div>
  <div class="form-group">
    <label for="categoryId">categoryId</label>
    <input type="text"
           class="form-control"
           id="categoryId"
           name="categoryId"
           required
           [(ngModel)] = "product.categoryId">      
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>