<jce-spinner [visible] = "isLoading"></jce-spinner>
<!--
 <div>
  <label>pid name:</label> <input #heroName />
  <label>pname name:</label> <input #heroName />
  <label>cost name:</label> <input #heroName />
  <label>categoryId name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>-->

<app-product-form (productAddedEvent) = "addProduct($event)"></app-product-form>

<div class="col-md-12">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>PID</th>
            <th>Pname</th>
            <th>Cost</th>
            <th>Category Id</th>
          </tr>
        </thead>
        <tbody>
            <tr app-product [product]="product" *ngFor = "let product of products" ></tr>
        </tbody>
    </table>
</div>


<div class="col-md-12">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>PID</th>
            <th>Pname</th>
            <th>Cost</th>
            <th>Category Id</th>
              <th>category names</th>
    
          </tr>
        </thead>
        <tbody>
            <tr app-product [product]="product" *ngFor = "let product of products" >
                 <td *ngFor = "let cname of product.categoryNames"> 
                        {{(cname | async)?.name}}
                     </td>                   

            </tr>

        </tbody>
    </table>
</div>

<!--<ul>
    <li app-product [product] = "product" *ngFor = "let product of products" > 
                    
        <ul>
        <li *ngFor = "let cname of product.categoryNames">
            {{(cname | async)?.cname}}
        </li>
        </ul>
                  
    </li>
</ul> -->